// Import page-specific CSS files here.
@import "home";

h2 {
  color: white;
  margin-bottom: 20px;
}

.container-form {
  width: 800px;
  margin: 0 auto;
}

.flexeur {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: sticky;
  z-index: 2;
  top: 90px;
}

.flexeur .form-control {
  width: 600px;
  border-radius: 20px;
  opacity: .9;
  margin-right: 10px;
}

.button-search {
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  background-color: #b15cff;
}

.button-search:hover {
  background-color: #D5FF5D;
  color: black;
  transition: all .4s;
}

.card-review {
  height: 200px;
  text-overflow: ellipsis;
}

.card-review-rating {
display: flex;
flex-direction: row;

p {
  margin-right: 5px;
  font-weight: bold;
  color: white;
}

i {
  color: #D5FF5D;
}
}

.card-review-commentaire {
  margin-bottom: 20px;
  max-height: 150px;
}
