<%= render 'shared/navbar' %>
<div class="container-edit-artists">
  <h2>Modifier mon artiste</h2>
  <%= render 'form', artist: @artist %>
  <br>
  <%= link_to "Retourner à mon artiste", admin_artist_path(@artist) %>
</div>
