.cards-index {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.card-index {
  border-radius: 10px;
  border: 1px solid black;
  width: 30%;
  height: 420px;
  display: flex;
  margin: 20px;
  padding: 10px 10px;
  background-color: #181818;
  color : white;
  box-shadow: 0px 0px 4px 1px lightslategrey;
}

.card-index-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  margin: 10px 5px;
  padding: 10px 18px;
  min-width: 45%;

  h1 {
    border-radius: 20px;
    color: white;
    font-family: 'Climate Crisis', cursive;
    font-size: 150%;
  }

  h2 {
    line-height: 1;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 20px;
  }
}

.card-index-text-cp {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  color: white;

  p {
    font-size: 100%;
    margin: 0;
    padding: 0;
  }


  i {
    color: #181818;
    padding: 6px 8px;
    background-color: #D5FF5D;
    border-radius: 5px;
    margin-left: 5px ;
    font-size: 24px;
  }
}

.bloc-photo-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 45%;
  margin: 10px;

  a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
  }

  img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}

.button-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #b15cff;
  padding: 5px 18px;


  p {
   margin: 5px 0;
   font-size: 16px;
  }

  &:hover{
    background-color: #D5FF5D;
    color: black;
    transition: all .4s;
  }
}
