label {
  color: white;
}

.btn {
  border-radius: 15px;
  background-color: #b15cff;
  padding: 5px 18px;
  font-weight: 700;
  color: white;

  &:hover{
    background-color: #D5FF5D;
    color: black;
  }
}

.review{
  margin: 20px 0 0 20px;
  display: flex;
  background-color: #181818;
  border-radius: 30px;
  width: 30%;
  padding: 20px;
  justify-content: center;
  height: 55%;
  box-shadow: 0 0 1px 1px lightslategray;

  input:last-child {
    margin-top: 10px;
    border: none;
  }

}
